body {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
#imagePiece { 
    position: absolute;
    left: 8px; 
    top: 8px; 
}
.image-piece {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
